body {
	background: $color-body-bg;
	font-family: 'lato', sans-serif;
	font-size: 12px;
	color: $grey-text;
	font-weight: bold;
}
// ***********************************
// PAGE STRUCTURE
// ***********************************
.wrapper {
	@include container(1440px);
	background: $bg;
}
.container{
	@include container($container);
	padding: 0 1.667em;
} 

.top_bar {
	overflow: hidden;
	font-size: 0.9166em;
	a {
		margin-right: 3.091em;	
	}
}
.top_bar_right, .top_bar_left {
	width: 50%;
	display: flex;
	height: 3.909em;
	float: left;
}
.top_bar_left_items,.currency,.lang {
	display: block;
	margin: auto 0;
}
.top_bar_right {
	justify-content: flex-end;
}
.currency {
	background: url(../img/bottom-08.png) no-repeat right;
	width: 6.818em;
	overflow: hidden;
	position: relative;
	> select {
		background: transparent;
		width: 8.637em;
	}
}
.border {
	border-right: 1px solid #b5b5b5;
	margin: 0 1.818em;
}
.lang {
	background: url(../img/bottom-08.png) no-repeat right;
	width: 2.909em;
	overflow: hidden;
	position: relative;
	> select {
		background: transparent;
		width: 2.909em;
	}
}
.main_menu {
	justify-content: space-between;
	flex-direction: row;
	display: flex;
	font-weight: bold;
}
.logo, .main, .main_right {
	display: flex;
	height: 8.333em;
	float: left;
} 
.logo, .main_right {
	width: 18%;
}
.logo {
	h2 {
		font-family: 'lato', serif;
		font-weight: bold;
		font-size: 4.333em;
		margin: auto 0;

	}
	span {
		font-size: 0.5em;
	}
}
.main_right {
	justify-content: flex-end;
	ul {
		margin: auto 0;
	}
}
.basket {
	width: 4em;
	height: 4em;
	border: 2px solid $blue;
	border-radius: 50%;
	margin-right: 0.9166em;
	margin-left: 0.9166em;
	span {
		display: block;
		line-height: 4em;
		text-align: center;
	}
}
.main {
	width: 55%;
	justify-content: center;
	ul {
		margin: auto 0;
	}
	li {
		margin-right: 4.583em;
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		position: relative;
		
		&:after {
			position: absolute;
			content: ""; 
			width: 100%;
			left: 0;
			height: 0;
			display: inline-block;
			background-color: $blue;
		}
		&:hover {
			color: $black;
			&:after {
				bottom: -7px;
				height: 2px;
			}	

		}
	}
	span {
		color: $red;
	}
}

.products {
	margin-bottom: 4.75em;
	h1 {
		font-family: 'Playfair Display', serif;
		font-size: 4.833em;
		text-align: center;
		margin-top: 1.413em;
		margin-bottom: 0.914em;
	}
	ul {
		text-align: center;
		margin-bottom: 3.916em;
		li {
			margin-right: 4.583em;
			&:last-child {
				margin-right: 0;
			}
		}
		a {
			font-weight: bold;
			position: relative;
		&:after {
			position: absolute;
			content: ""; 
			width: 100%;
			left: 0;
			height: 0;
			display: inline-block;
			background-color: $blue;
		}
		&:hover {
			color: black;
			&:after {
				bottom: -7px;
				height: 2px;
			}	

		}
		}

	}



}
.product_list {
	overflow: hidden;
	.product_list_item {
		float: left;
		margin-right: 2.5em;
		margin-bottom: 2.917em;
		&:nth-child(4n) {
			margin: 0;
		}
		&:nth-child(4n+1) {
			clear:left;
		}
		.item_wraper {
			position: relative;
			width: 100%;
		}
		h2 {
			font-family: 'Playfair Display', serif;
			font-size: 1.333em;
			text-transform: none;
			font-weight: normal;
			line-height: 1.25;
			text-align: center;
			margin-top: 1.375em;
		}
		img {
			height: auto;
			width: 100%;
		}
		.price_box {
			width: 100%;
			text-align: center;
			font-size: 1.333em;
			line-height: 1.25;
			margin-top: 0.375em;
			.regular-price {
				display: inline-block;
			}

		}
	}
}
.new_product {
	position: absolute;
	top: 2.364em;
	left: 2.364em;
	background: $blue;
	color: #fff;
	width: 3.909em;
	padding: 2.5px;
	font-size: 0.917em;
	line-height: 1.8182;
	border-radius: 2.273em;
	text-align: center;
}
.sale_price {
	color: $red;
	margin-left: 1em;
}
.last_price {
	color: inherit;
	text-decoration: line-through;
}
.subscribe {
	background: $blue;
	background: url(../img/design.png) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	.subscribe_wrapper {
		text-align: center;
		padding: 5.666em 0 5.833em;
		a {
			color: $black;
		}

		h1 {
			font-family: 'Playfair Display', serif;
			font-size: 3.166em;
			color: $bg;
			margin-top: 0.474em;
			margin-bottom: 0.763em;
			line-height: 1;
		}
		
	}
	.form_email {
		margin: auto;
		width: 278px;
		border: 2px solid rgba(255, 255, 255, 0.3);
		border-radius: 50px;
		padding: 13px 10px;
    	display: block;
    	color: #fff;
    	&:focus {
	        outline: none;
	    } 

	}
}
footer {
	padding-bottom: 2.666em;
	.menu {
		display: flex;
		height: 8.333em;
		justify-content: center;
		width: 62%;
		float: left;

		ul {
			margin: auto 0;
		}
		li {
			margin-right: 4.583em;
			&:last-child {
				margin-right: 0;
			}
			a {
				color: $black;
			}

		}
	}
	.menu_right {
		justify-content: flex-end;
		color: inherit;
		float: left;
		width: 20%;
		display: flex;
		height: 8.333em;
		a {
			text-align: right;
			margin: auto 0;
			text-transform: none;
		}
	}

}	